
body{box-sizing:border-box;}
*, *:after, *:before{box-sizing:inherit;}

*{margin:0; padding:0;}

.whyContain:after,
.whyContain:before{content:"";display:table;clear:both;}
/*
*{border: 1px dotted red;}
*/
html,body{display:block;height:100%;}
html{overflow:hidden;}
body{overflow:auto;background:#d2e0d1;}
/*	파랑 : #779ECB
	빨강	: #FF6961
	녹색 : #A0D6B4
	주황 : #FFB347
	보라 : #B19CD9
	갈색 : #836953
	노랑 : #FDFD96
	회색 : #CFCFC4
*/
/* 16*16(한칸 40px) */


.whyMainBox{
	z-index:0;
	position:absolute;
	top:0;
	left:calc( ( 100% - 640px ) / 2); /* 센터 상자위치 */
	width:640px;
	height:640px;
	margin:50px auto;
}
/*	화면에 보이는것은 이제 z-index 20기준으로*/
.whyBase{
	z-index:15;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image:url(../img/background01.jpg);
	background-size:contain;
}
/*	전체 화면 시작	*/
/* 전체 - 로딩 */
.whyLodingbox{
	z-index:20;
	position:absolute;
	width:100%;
	height:100%;
	background-color:#5593c2;
	text-align:center;
	color: white;
}
	/* 빈 블럭 상단 마진줌. */
	.whyLoding1{
		height:20%;
	}
	.whyLoding2{
		width:60%;
		height:40%;
		margin:auto;
		border:10px solid #779ECB;
		background:url("../img/loading01.gif")
	}
	.whyLoding3{
		width:100%;
		height:30%;
		font-weight:bold;
		font-size:100px;
		text-shadow:
			rgb(204, 204, 204) 0px 1px 0px,
			rgb(201, 201, 201) 0px 2px 0px,
			rgb(187, 187, 187) 0px 3px 0px,
			rgb(185, 185, 185) 0px 4px 0px,
			rgb(170, 170, 170) 0px 5px 0px,
			rgba(0, 0, 0, 0.0980392) 0px 6px 1px,
			rgba(0, 0, 0, 0.0980392) 0px 0px 5px,
			rgba(0, 0, 0, 0.298039) 0px 1px 3px,
			rgba(0, 0, 0, 0.14902) 0px 3px 5px,
			rgba(0, 0, 0, 0.2) 0px 5px 10px,
			rgba(0, 0, 0, 0.2) 0px 10px 10px,
			rgba(0, 0, 0, 0.0980392) 0px 20px 20px;
	}
	.whyLoding4{
		width:100%;
		height:10%;
		font-size:30px;
		text-shadow:
			rgb(204, 204, 204) 0px 0.5px 0px,
			rgb(201, 201, 201) 0px 1px 0px,
			rgb(187, 187, 187) 0px 1.5px 0px,
			rgb(185, 185, 185) 0px 2px 0px,
			rgb(170, 170, 170) 0px 2.5px 0px,
			rgba(0, 0, 0, 0.0980392) 0px 3px 0.5px,
			rgba(0, 0, 0, 0.0980392) 0px 0px 2.5px,
			rgba(0, 0, 0, 0.298039) 0px 0.5px 1.5px,
			rgba(0, 0, 0, 0.14902) 0px 1.5px 2.5px,
			rgba(0, 0, 0, 0.2) 0px 2.5px 5px,
			rgba(0, 0, 0, 0.2) 0px 5px 5px,
			rgba(0, 0, 0, 0.0980392) 0px 10px 10px;
	}

/* 전체 - 맵 */
.whyAllMap{
	z-index:10;
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(30, 150, 30, 0.7);
}

/* 맵 - 메뉴 */
.whyMenubox{
	z-index:10;
	position:absolute;
	top:20px;
	left:calc(100% - 250px - 10px); /* 전체%, 너비px, 마진px */
	height:calc(480px - 20px - 20px); /* 높이px, 탑마진px, 바텀마진px */
	width:250px;
	background:rgb(160, 214, 180);
	color:white;
	text-align:center;
	padding-top:30px;
}
	.whyMenu{
		display:inline-block;
		height:50px;
		line-height:50px;
		width:200px;
		margin:5px;
		font-size:25px;
		font-weight:bold;
		background:rgb(54, 125, 80);
	}
.whyStorebox{
	z-index:10;
	position:absolute;
	top:20px;
	left:0px; /* 전체%, 너비px, 마진px */
	height:calc(480px - 20px - 20px); /* 높이px, 탑마진px, 바텀마진px */
	width:250px;
	background:rgb(160, 214, 180);
	color:white;
	text-align:center;
	padding-top:30px;
}
	.whyStore{
		display:inline-block;
		height:50px;
		line-height:50px;
		width:200px;
		margin:5px;
		font-size:25px;
		font-weight:bold;
		background:rgb(54, 125, 80);
	}

/* 전체 - 상태창 */
.whyStatusbox{
	z-index:10;
	position:absolute;
	width:100%;
	height:100%;
	background:#b8cde4;
	color:white;
	font-size: 40px;
}
	.whyStatus:NTH-CHILD(1){
		height:60%;
		background:#779ECB;
	}
		.whyStatusImgbox{
			display:inline-block;
			float:left;
			height:calc(100% - 40px - 20px); /* 높이%, TOP.px, BOTTOM.px */
			width:calc(40% - 10px - 10px); /* 너비%, LEFT.px, RIGHT.px */
			margin:40px 10px 20px 10px;
			background:#5593c2;
		}
			.whyStatusImg{
				height:100%; 
				width:100%; 
				background:url("../img/naong01.png") no-repeat center;
				background-size:100% 70%;
			}
		.whyStatusNamebox{
			display:inline-block;
			float:left;
			height:calc(65% - 40px - 10px); /* 높이%,TOP>px, 바텀px */
			width:calc(60% - 10px); /* 너비%, RIGHTpx*/
			margin:40px 10px 10px 0px;
			background:#5593c2;
		}
		.whyStatusMoneybox{
			display:inline-block;
			float:left;
			height:calc(35% - 20px); /* 높이%, BOTTOM.px*/
			width:calc(60% - 10px);	 /* 너비%, RIGHT.px*/
			margin:0px 10px 20px 0px;
			background:#5593c2;
		}
	.whyStatus:NTH-CHILD(2){
		height:40%;
		background:#5593c2;
	}
		.whyStatusBadge{
			height:calc(100% - 20px - 20px); /* 높이%, R,L.px*/
			width:calc(100% - 20px - 20px); /* 높이%, T,B.px*/
			float:left;
			margin:20px;
			background:#779ECB;
		}

/* 전체 - 리포트 */
.whyReportBox{
	z-index:10;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:#ffd2d0;
	color:white;
	font-size:30px;
	font-weight:bold; 
	padding:40px;
}	
	.whyReport{
		display:inline-block;
		float:left;
		height:calc(25% - 20px - 20px);
		width:calc(33% - 10px - 10px);
		background:#FF6961;
		border:5px solid #bb0a00;
		margin:20px 10px;
		padding:10px;
	}
	.whyReportImg{
		display:inline-block;
		float:left;
		width: 100%;
		height:55%;
		background:url("../img/saveimg.PNG") no-repeat center;
		margin:0 auto;
		padding:20px;
	}
	.whyReportText{
		display:inline-block;
		float:left;
		width:100%;
		height:calc(20% - 20px);
		background:#FF6961;
		border:5px solid #bb0a00;
		margin:20px 0px 0px 0px;
		padding:10px;
	}
/* (임시삭제:아래 BattleArea -> Battle로 변경)전투 화면용, 하단 자리확보용
.whyBattle{ 
	z-index:10;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-image:url(../img/background01.jpg);
	background-size:contain;
}
*/	
	
/* 상단 - 전투 */
.whyBattle{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:75%;
}	
	.whyBattleDiv{
		position:relative;
		top:0;
		left:0;
		display:inline-block;
		float:left;
		width:50%;
		height:100%;
	}
	.whyBattleHp{
		position:relative;
		top:0;
		left:0;
		width:100%;
		height:30%;
		font-size:20px;
		padding:20px;
	}
	.whyBattleImg{
		position:relative;
		top:0;
		left:0;
		width:100%;
		height:70%;
		font-size:60px;
	}
	.whyBattleEnemyhp{
		background:#ffa8a4;
		font-weight:bold;
		text-align:center;
	}
		.whyEnemyName{
			display:inline-block;
			float:left;
			width:100%;
			height:40%;
			background:#ff6f6f;
			font-size:30px;
			padding-left:20px;
		}
		.whyEnemyHpTitle{
			display:inline-block;
			float:left;
			width:25%;
			height:60%;
			background:#6a6aff;
			font-size:40px;
		}
		.whyEnemyBarMaxHp{
			display:inline-block;
			float:left;
			width:75%;
			height:30%;
			background:#e1e1e1;
			border:5px solid black;
		}
		.whyEnemyBarHp{
			display:inline-block;
			float:left;
			width:0%;
			height:100%;
			background:#00a800;
			transition:width 2s ease, background 1s ease-in;
			}
		.whyEnemyTextHp{
			display:inline-block;
			float:left;
			width:75%;
			height:30%;
			background:#fff09b;
			font-size:20px;
		}
	.whyBattleAllyimg{
		background:#8ea3e8;
		padding:0px 70px 0px 10px;
	}
		.whyAllyImg{
			width:100%;
			height:100%;
			background:url("../img/monA_02.gif") no-repeat bottom;
			background-size:contain;
		}
			.whyAllyHeal{
				display:none;
				width:100%;
				height:100%;
				z-index:1;
				position:absolute;
				top:60px;
				left:0px;
				background:url("../img/heal1.png") no-repeat center;
				background-size:250% 200%;
				opacity:0.55;
			}
	.whyBattleEnemyimg{
		background:#ffa8a4;
		padding:0px 10px 0px 70px;
	}
		.whyEnemyImg{
			width:100%;
			height:100%;
			background-image:url('../img/monZ_00.png');
			background-repeat:no-repeat;
			background-position:center;
			background-size:contain;
		}
	.whyBattleAllyhp{
		background:#8ea3e8;
		font-weight:bold;
		text-align:center;
	}
		.whyAllyName{
			display:inline-block;
			float:left;
			width:100%;
			height:40%;
			background:red;
			font-size:30px;
			padding-left:20px;
		}
		.whyAllyHpTitle{
			display:inline-block;
			float:left;
			width:25%;
			height:60%;
			background:blue;
			font-size:40px;
		}
		.whyAllyBarMaxHp{
			display:inline-block;
			float:left;
			width:75%;
			height:30%;
			background:white;
			border:5px solid black;
		}
		.whyAllyBarHp{
			display:inline-block;
			float:left;
			width:0%;
			height:100%;
			background:green;
			transition:width 2s ease, background 1s ease-in;
			}
		.whyAllyTextHp{
			display:inline-block;
			float:left;
			width:75%;
			height:30%;
			background:gold;
			font-size:20px;
		}
.whyEnemyAttack{
	display:none;
	width:60px;
	height:60px;
	z-index:50;
	position:absolute;
	top:120px;
	left:450px;
	background:url("../img/attack_01.png") no-repeat center;
	background-size:cover;
	opacity:0.6;
}
.whyAllyAttack{
	display:none;
	width:60px;
	height:60px;
	z-index:50;
	position:absolute;
	top:260px;
	left:220px;
	background:url("../img/attack_fire01.png") no-repeat center;
	background-size:100% 100%;
	opacity:0.9;
	transform: rotate(-23deg);
}
/*
	animation-name:yEnemyAttack;
	animation-duration:2s;

@keyframes yEnemyAttack{
    0%   {left:360px; top:50px;}
    100% {left:360px; top:360px;}
}
*/

/* 상단 포켓몬 */
.whyMyAcomonbox{
	z-index:10;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:75%;
	background:#A0D6B4;
	color:white;
	padding:15px;
}
	.whyMyAcomon{
		height:calc(16.666% - 5px); /* 겹치는 마진은 상쇄되는듯.*/
		margin:5px 0px 5px 0px;
		background:#2b6240;
		font-size:20px;
	}
	.whyMyAcomonImg{
		display:inline-block;
		float:left;
		height:100%;
		width:20%;
		background-color:rgba(0, 0, 0, 0.0)
	}
	.whyMyAcomonTag{
		display:inline-block;
		float:left;
		height:calc(50% - 5px);
		width:calc(80% - 10px);
		background:#3c8858;
		margin:5px 10px 0px 0px;
		padding:0 0 0 20px;	 
	}
		.whyMyAcomonTagText{
			display:inline-block;
			float:left;
			width:25%;
			height:100%;
		}
	.whyMyAcomonValue{
		display:inline-block;
		float:left;
		height:calc(50% - 5px);
		width:calc(80% - 10px);
		background-color:#68bd88;
		margin:0px 10px 5px 0px;
		padding:0 0 0 20px;	 
	}
		.whyMyAcomonValueText{
			display:inline-block;
			float:left;
			width:25%;
			height:100%;
		}
		.whyMyAcomon:NTH-CHILD(1) .whyMyAcomonImg{
			background:url("../img/pocketmon01.gif") no-repeat center;
		}
		.whyMyAcomon:NTH-CHILD(2) .whyMyAcomonImg{
			background:url("../img/pocketmon02.gif") no-repeat center;
		}
		.whyMyAcomon:NTH-CHILD(3) .whyMyAcomonImg{
			background:url("../img/pocketmon03.gif") no-repeat center;
		}
		.whyMyAcomon:NTH-CHILD(4) .whyMyAcomonImg{
			background:url("../img/pocketmon04.gif") no-repeat center;
		}
		.whyMyAcomon:NTH-CHILD(5) .whyMyAcomonImg{
			background:url("../img/pocketmon05.gif") no-repeat center;
		}
		
		
/* 상단 - 아이템 */
.whyMyItembox{
	z-index:10;
	position:absolute;
	top:0px;
	left:60%;		/* 아이템 박스 생성위치 */
	height:calc(75% - 10px - 10px);
	width:calc(40% - 10px - 10px);
	padding:20px;
	margin:10px;
	background-color:rgba(175, 149, 131, 0.7);
	color:white;
	font-size:20px;
	font-weight:bold;
	overflow:auto;
}
	/* 스크롤 디자인 */
	.whyMyItembox::-webkit-scrollbar{	
		width:5px;
		background:rgba(175, 149, 131, 0.0);
	}
	
	.whyMyItembox::-webkit-scrollbar-thumb{
		background:#836953;
		-webkit-border-radius: 1ex;
	}
	.whyMyItem{
		height:60px;
		width:calc(99.99% - 6px);
		margin:3px;
		background-color:#836953;
	}


/* BASE */


/*	하단 - 대화창 */
.whyTextbox{
	z-index:10;
	position:absolute;
	left:18px;
	width:calc(100% - 18px - 18px);
	height:calc(25% - 18px - 18px);
	top:calc(75% + 18px);
	border-radius: 5px;
	box-shadow: 0 0 0 6px white, 0 0 0 12px black;
	background: black;
	font-size:25px;
	color:white;
}
	.whyText{
		display:inline-block;
		float:left;
		width:calc(100% - 50px);
		height:100%;
		padding:12px;
/*		background:rgba(27,27,27,0.5);	*/
	}
	.whySkip{
		display:flex;
		float:right;
		width:50px;
		height:100%;
/*		background:rgba(27,27,27,0.5);
*/
	}
	.whySkipBtn{
		display:inline-block;
	  	align-self:flex-end;
		width:100%;
		margin-bottom:10px;
		padding:5px 0px;
		font-size:18px;
		font-weight:bold;
	}

/*	하단 전투화면 커멘드창 시작 */
.whyCommand{
	z-index:10;
	position:absolute;
	width:100%;
	height:25%;
	top:75%;
	background:#FDFD96;
}
.whyCmdListbox{
	z-index:10;
	position:absolute;
	width:100%;
	height:25%;
	top:75%;
	font-size:25px;
	font-weight:bold;
	color:white;
	padding:5px;
}
	.whyCmdList{
		height:calc(25% - 2px);
		background:#B19CD9;
		margin:2px;
	}
.whyCmdSkillbox{
	z-index:10;
	position:absolute;
	width:100%;
	height:25%;
	top:75%;
	font-size:25px;
	font-weight:bold;
	color:white;
	padding:5px;
}
	.whyCmdSkill{
		height:calc(25% - 2px);
		background:#B19CD9;
		margin:2px;
	}
.whyCmditem{
}	
.whyCmdRun{
}
	
#whyMouse{
	position:absolute;
	top:20%;
	margin:40px;
	font-size:40px;
	padding:10px;
	color:white;
	background:rgba(27,27,27,0.5);
}	
	
	
	
	
